/*!
 * Greg Misicko
 * css file created for Project 4
 * CS E15
 */

 head
{
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#000000;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.menu_holder
{
	width:900px;
	box-shadow: 3px 3px 5px #888888;
	background-color:#000000;
	float: left;
}

.menu_title
{
	width: 400px;
	height: 35px;
	margin:0;
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#000000;
    font-size: 22px;
    line-height: 35px;
    font-weight: bold;
}

.menu_links
{
	width: 400px;
	height: 35px;
	margin:0;
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#000000;
    font-size: 18px;
    line-height: 35px;
    text-align: right;
}

.flag
{
	margin:0;
	border:0px;
    width:55px; 
    height:15px; 
    float: left;
    border-top:10px solid white;
    background-color:blue;
    border-bottom:10px solid red;
}

.body_content
{
	 margin: 0;
	 padding: 20px;
     width: 875px;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     background-color:#ffffff;
     font-size: 14px;
     line-height: 18px;
     color: #000000;

}

body
{
     margin: 0;
     width: 900px;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     background-color:#ffffff;
     font-size: 14px;
     line-height: 18px;
     color: #000000;
}

h1 
{	
	text-align:left;
	font-size:18px;
	margin-top:20px;
	margin-bottom:20px;
}

h2
{
	font-size: 14px;
	line-height: 16px;
	color: #668BFA;
}

.header
{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#000000;
    font-size: 18px;
    line-height: 20px;
    color: #000000;	
}

.shadow
{
    background-color:#bbbbbb;	
}

.title
{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #EEEEEE;	
}

.error
{
	 margin: 5;
	 padding: 20px;
	 border:2px solid red;
	 border-radius:25px;
	 box-shadow: 5px 5px 5px #888888;
     width: 450px;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     background-color:#F7FFB3;
     font-size: 14px;
     line-height: 18px;
     font-weight: bold;
     color: #960023;
}

.update
{
	 font-size: 14px;
     line-height: 18px;
     color: red;
     font-weight: bold;
}

.message
{
	 font-size: 14px;
     line-height: 18px;
     color: green;
     font-weight: bold;
}

.sectionContainer
{
	border: 1px solid #E3E3E3;
	width:800px;
	height:90px;
	box-shadow: 3px 3px 5px #888888;
	background-color:#FFFFFF;
	float: center;
	margin-left:36px;
}

.sectionContainer2
{
	border: 1px solid #E3E3E3;
	width:800px;
	height:120px;
	box-shadow: 3px 3px 5px #888888;
	background-color:#FFFFFF;
	margin-left:36px;
}

.textInputsContainer
{
	border:0px;
	width: 750px;
	height: 70px;
	float: center;
}

.inputHolder
{
	border:0px;
	width: 320px;
	height: 55px;
	float: left;
}

.inputDiv
{
	border:1px solid black;
	width: 300px;
	font-size: 14px;
    line-height: 18px;
    height:20px;
}

input.edit
{
    height: 16px;
    width: 50px;
    font-size: 10px;
}

input.unButton
{
    height: 16px;
    width: 200px;
    font-size: 14px;
    background:none;
    border:0;
    color:#0080FF;
    text-align:left;
}

a:link {text-decoration:none; color:#0080FF;}
a:visited {text-decoration:none; color:#0080FF;}
a:hover {text-decoration:none; color:#FF1717;}
a:active {text-decoration:underline; color:#FFFFFF;}